<h1><%= @topic.name %></h1>
<% if user_is_authorized_for_edit_delete_topics? || user_is_authorized_for_topics? %>
    <%= link_to 'Edit Topic', edit_topic_path, class: 'btn btn-success' %>
<% end %>
<% if user_is_authorized_for_topics? %>
    <%= link_to 'Delete Topic', @topic, method: :delete, class: 'btn btn-danger' %>
<% end %>
<div class="row">
  <div class="col-md-8">
    <p class="lead"><%= @topic.description %></p>
    <% if user_is_authorized_for_topics? %>
        <%= link_to 'New Post', new_topic_post_path(@topic, :post), class: 'btn btn-success' %>
    <% end %>
    <%= link_to 'New Sponsored Post', new_topic_sponsored_post_path(@topic, :sponsored_post), class: 'btn btn-success' %>
    <% @topic.posts.each do |post| %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">
              <%= link_to post.title, topic_post_path(@topic, post) %>
            </h4>
            <small>
              submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %> <br>
              <%= post.comments.count %> Comments
            </small>
          </div>
        </div>
    <% end %>
    <% @topic.sponsored_posts.each do |s_post| %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">
              <span>Sponsored Post:</span> <%= link_to s_post.title, topic_sponsored_post_path(@topic, s_post) %>
            </h4>
            <small>
              submitted <%= time_ago_in_words(s_post.created_at) %>
            </small>
          </div>
        </div>
    <% end %>
  </div>
</div>